extends ../layouts/default

block content
	.wrapper#site-content
		.container
			if bios.length
				each bio in bios
					.container_img
						img(src=bio._.heroImage.limit(680,680)).img-rounded
					.container_content
						.bio_content
							p!=bio.description