extends ../layouts/default

block content
	.slider_wrap
		.slider
			.slides: img(src="./images/slider1.jpg", alt="")
			.slides: img(src="./images/slider2.jpg", alt="")
			a.prev(onclick="changeSlide(-1)") &#10094
			a.next(onclick="changeSlide(1)") &#10095
	
	.content_wrapper
		.content_wrap_img
			.content_img
				img(src='/images/simon.jpg', alt='')
		.content_wrap_info
			.content_info
				h1 BEXSIMON ARTSMITH
				p
					| Bex sees Artist Blacksmiths today as those who use the traditions of the ancient craft of blacksmithing with contemporary forms of metal-smithing to produce modern artwork. Bex refers to herself as an ‘artsmith’ to distinguish this new style. She is unconstrained in her approach to design, drawing inspiration from limitless sources of research. 
					br
					| And that is how Bex Simon works: blending traditional craft with contemporary design and modern methods of fabrication; fizzing with creativity and passion for her art; embodying the very idea of the artsmith. 
					br
					| “I love the idea that you can take something so hard and strong, add heat to make it malleable, almost fluid, and create something beautiful. And then when it cools, and the hard properties return, the movement and life remain, encapsulated in the artwork forever.” 
					br
					| On this website you will find many examples of Bex’s work. High end interior design, bespoke metalwork commissions – featuring bespoke gates, railings and balconies – sculptural pieces for gardens of any scale, and cast iron kitchenware. You will also see examples of the commissions undertaken by Bex Simon and her skilled team, creating some of the most innovative public art in the UK. 
					br
					| If you would like to talk to Bex about your requirements, don’t hesitate to get in touch.

	
