extends ../layouts/default

block content
	.jumbotron(style="background-image: url('/images/videos.jpg');")
	.wrapper#site-content
		.header_content
			h1 BEX SIMON BLACKSMITH VIDEOS
			.separator
			p Please find below some videos which illustrate some of the wide array of techniques Bex uses to create her art.
	
		.container
			.cell
				h3 BEXSIMON MODIRON BENCH FOR LONDON DESIGN FESTIVAL
				p A celebration of traditional blacksmith craft and modern design.  A hand forged piece of contemporary interior furniture, in mid-century modern style, designed and built exclusively for Craft Central’s exhibition,Total Fabrication, at London Design Festival 2014.
				<iframe width="575" height="323" src="https://www.youtube.com/embed/TsZj3vpHiAg" frameborder="0" gesture="media" allowfullscreen></iframe>
			.cell
				h3 BEX SIMON COLLECTIONS – HOTTEST CAST IRON AROUND
				p Art for Kitchens – the hottest cast iron around is now in.  This is Bex’s inspiration behind the range.
				<iframe width="575" height="323" src="https://www.youtube.com/embed/Ya2cdfVim48" frameborder="0" gesture="media" allowfullscreen></iframe>
			.cell
				h3 BEXSIMON MODIRON BENCH FOR LONDON DESIGN FESTIVAL
				p A celebration of traditional blacksmith craft and modern design.  A hand forged piece of contemporary interior furniture, in mid-century modern style, designed and built exclusively for Craft Central’s exhibition,Total Fabrication, at London Design Festival 2014.
				<iframe width="575" height="323" src="https://www.youtube.com/embed/TsZj3vpHiAg" frameborder="0" gesture="media" allowfullscreen></iframe>
			.cell
				h3 BEX SIMON COLLECTIONS – HOTTEST CAST IRON AROUND
				p Art for Kitchens – the hottest cast iron around is now in.  This is Bex’s inspiration behind the range.
				<iframe width="575" height="323" src="https://www.youtube.com/embed/Ya2cdfVim48" frameborder="0" gesture="media" allowfullscreen></iframe>
