mixin footer()
	footer#footer
		.footer_top_wrap
			.footer_logo
				a(href='')
					img(src='/images/logo.png', alt='')
			.footer_social
				+social()
		.footer_bottom_wrap
			.footer_copyright
				p
					| Copyright © 2017 BexSimon • All Rights Reserved • Terms & Privacy • Website By Poppy Design Studio •
