.social_icon
	display flex
	justify-content center
	a 
		width 20px
		height 20px

		display flex
		justify-content center
		align-items center


		text-decoration: none;
		// width: 38px;
		// height: 38px;
		padding: 12px;
		// border: 1px solid red
		svg 	
			height 13px
			width 13px
			use 
				transform translate(0, 0) scale(1, 1)

	:hover
		background: white;
		svg 
			path
				fill: black;
