.bio_page_wrap
	border: 1px solid red;
	display flex
	flex-direction row
	
	.bio_page_img
		border 1px solid red 
		width 50%
		img 
			width 100%
	
	.bio_page_info_wrap
		border 1px solid red
		width 50%
		padding 0 50px 0 30px
		.bio_page_info
			h1 
				margin 35px 0
			p
				text-align justify
				font-size 18px
				line-height 28px
				font-family 'Roboto Condensed', sans-serif
				margin-top 25px
			

