.contact_wrap
	// border: 1px solid red;
	background-color: #fff;

	.contact_jumbotron
		img 
			width: 100%;

	.contact_form_wrap
		// border: 1px solid blue;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 20px;
		padding: 20px 90px 0 90px;


		.contact_form
			// border: 1px solid red;
			font-family: 'Roboto Condensed', sans-serif;
			width: 50%;
			

			form
				box-sizing: border-box;
				padding-left: 15px;
				padding-right: 15px;
				width: 100%
				p 
					color: black;
					font-size: 18px;
					line-height: 28px;
					margin-bottom: 20px;

					input 
						border: 1px solid rgba(68,59,57,1);
						display: block;
						width: 100%;
						margin: 5px 0 0;
						padding: 15px;
						resize: none;
						font-size: 13px;
						background-color: #fff;
						color: #818181;
						font-family: Raleway;
						box-sizing: border-box;
					textarea 
						display: block;
						width: 100%;
						margin-top: 10px;
						border: 1px solid rgba(68,59,57,1)
				button 
					margin-bottom: 20px;
					background-color: #443b39;
					color: #fff;
					height: 61px;
					padding-left: 32px;
					padding-right: 32px;
					font-size: 15px;
					letter-spacing: 1.5px;
					line-height: 61px;
					text-transform: uppercase;
					font-style: normal;
					font-weight: 700;
					border-radius: 0px;
					border-width: 0px;
		
		.contact_content_wrap
			// border: 1px solid red;
			width: 50%;
			font-family: 'Roboto Condensed', sans-serif;
			

			.contact_content
				padding-left: 15px;
				padding-right: 15px;
				.emtyspace
					width: 100%;
					height: 30px;
				h1 
					color: #443b39;
					font-family: "PT sans", sans-serif;
					font-weight: 600;
					font-size: 30px;
					text-transform: uppercas;
					margin: 0;
				.separator
					background-color: #000000;
					height: 2px;
					margin: 10px 0;
				p
					font-size: 18px;
					color: black;
					text-align: justify;
					line-height: 28px;
			.contact_logo
				display: flex;
				justify-content: center;
