.jumbotron
	// border 1px solid red 
	height 300px
	
	// background-attachment: fixed;
	background-position: center -170px;
	background-repeat: no-repeat;
	// background-size: cover;


	// border 1px solid red
	// padding 20px 90px


.wrapper
	padding-left: 5%
	padding-right: 5%

	.container
		display flex
		flex-flow row wrap
		padding 0

		.container_img
			width 50%
			img 
				max-width 100%

		.container_content
			width 50%

@media screen and (max-width 768px)
	.wrapper
		padding-left: 10% !important
		padding-right: 10% !important
