.content_video_wrapper
	.jumbotron
		img 
			width 100%
	.content_wrap
		// padding 0 50px
		.content
			border 1px solid red
			.separator
				background-color #000
				height 2px
				margin 10px 0
	
		.grid
			border 1px solid blue
			display flex
			flex-direction row
			flex-wrap wrap
			justify-content center
			.cell
				border 1px solid green
				flex-basis (50% - 40px)
				margin 15px

